h1 {
  font-size: 20px;
  font-family: Bradley Hand;
}
h2 {
  font-size: 20px;
  font-family: Bradley Hand;
  color:white
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/